.header{
    min-height: 100px;
    background-color: #D43728;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.nav{
    list-style-type: none;
    display: flex;
}
.nav a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding: 41px 20px;
    /* background-color: pink; */
}
.nav a:hover,
.nav a:active{
    background-color: rgba(0,0,0,.2);
}