*{
    box-sizing: border-box;
}
.wraper{
    display: flex;
    justify-content: space-between;
}
.item{
    flex-basis: 32%;
    background-color: pink;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}